<ul class="reelgrid">
{{#each media}}
  <li>
    <div class="relfix">
      <a href="{{playerUrl}}" class="app">
        <img src="{{thumbnailUrl}}" alt="{{name}}" />
        {{#if editHref}}
          <p class="absfix">
            <a href="{{editHref}}" class="app btn btn-mini btn-info"><i class="icon-edit"></i></a>
            <a href="{{removeHref}}" class="app btn btn-mini btn-danger"><i class="icon-trash"></i></a>
          </p>
        {{/if}}
        <div class="captions centered">
          <h2>{{name}}</h2>
        </div>
      </a>
    </div>
  </li>
{{/each}}
</ul>
