<div id="carouselWrapper">
</div>
<div id="content" class="container">
  <div class="row">
    <div id="preview" class="span12 centered previewPadding">
    {{#with media}}
      {{#if isVideo}}
        <div id="vid_placeholder" />
      {{else}}
        <img id="media_image" class="pickerHolder" alt="{{name}}" src="{{url}}" />
      {{/if}}
      <div class="media_meta">
        <h4>{{name}}</h4>
        <ul>
        {{#each attribs}}
          <li>{{{this}}}</li>
        {{/each}}
        </ul>
      </div>
    {{/with}}
    </div>
  </div>
</div>
