{{#if isLoggedIn}}
<div class="row topbar">
  <ul class="nav nav-boxes actionable">
    {{#if isPage}}
      {{#if isPublished}}
        <li class="privacy"><a href="{{editPageMakePrivateHref}}" class="current app boxed public">Public</a></li>
      {{else}}
        <li class="privacy"><a href="{{editPageMakePublicHref}}" class="current app boxed private">Private</a></li>
      {{/if}}
      {{#if isAddingMedia}}
        <li><a href="{{addMediaHref}}" id="addMediaLink" class="current app boxed">Add Media</a></li>
      {{else}}
        <li><a href="{{addMediaHref}}" id="addMediaLink" class="app boxed">Add Media</a></li>
      {{/if}}
      {{#if isEditingPage}}
        <li><a href="{{editPageHref}}" class="current app boxed">Edit Page</a></li>
      {{else}}
        <li><a href="{{editPageHref}}" class="app boxed">Edit Page</a></li>
      {{/if}}
    {{/if}}
    {{#if isCreatingPage}}
      <li><a href="{{createHref}}" id="newPageLink" class="current app boxed">New Page</a></li>
    {{else}}
      <li><a href="{{createHref}}" id="newPageLink" class="app boxed">New Page</a></li>
    {{/if}}
    {{#if hasAtLeastTwoPages}}
      {{#if isReorderingPages}}
        <li><a href="{{reorderHref}}" id="reorderPageLink" class="current app boxed">Sort Pages</a></li>
      {{else}}
        <li><a href="{{reorderHref}}" id="reorderPageLink" class="app boxed">Sort Pages</a></li>
      {{/if}}
    {{/if}}
    <!--
    {{#if ../isLoggedIn}}
      <br />
      {{#if isPublished}}
        <a href="{{editHref}}" class="app pageStatus">Public</a>
      {{else}}
        <a href="{{editHref}}" class="app pageStatus">Private</a>
      {{/if}}
    {{/if}}
    -->
  </ul>
</div>
{{/if}}
<div class="row pagebar">
  <div class="span2">
    <h1><a href="#" class="app">{{sitetitle.value}}</a></h1>
  </div>
  <div id="header" class="span10">
    <div class="rightaligned-boxes">
      <ul id="mainnav" class="nav nav-boxes">
        {{!-- No homepage for now!
          {{#if isHome}}
            <li class="homepage"><a href="/" class="current app boxed">{{sitetitle.value}}</a></li>
          {{else}}
            <li class="homepage"><a href="/" class="app boxed">{{sitetitle.value}}</a></li>
          {{/if}}
        --}}
        {{#each pages}}
          <li>
          {{#if active}}
            <a href="{{href}}" class="current app boxed">{{name}}</a>
          {{else}}
            <a href="{{href}}" class="app boxed">{{name}}</a>
          {{/if}}
          </li>
        {{/each}}
        {{#if showContact}}
          {{#if isContact}}
            <li class="contact"><a href="/contact" class="current app boxed">Contact</a></li>
          {{else}}
            <li class="contact"><a href="/contact" class="app boxed">Contact</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
    {{#flash}}
    <div class="alert alert-{{type}}">
      <button type="button" class="close fui-cross" data-dismiss="alert"></button>
      {{message}}
    </div>
    {{/flash}}
  </div>
</div>

